[user]
  name = joalvarez
[includeIf "gitdir:~/ghq/github.com/joalvarezdev/**"]
  path = ~/.gitconfig-github
[includeIf "gitdir:~/ghq/gitlab.infosisglobal.com/**"]
  path = ~/.gitconfig-gitlab-infosis
[pull]
  rebase = true
[core]
  editor = nvim
	autocrlf = input
[credential]
  helper = store
[init]
  defaultBranch = main
[i18n]
  logoutputenconding = en_US.UTF-8
